{% extends "../templates/layout.html" %}
{% block pagetitle %} Page Index {% endblock %}

{% block content %}
<style type="text/css">
	.styleguide-section {
		padding: 15px 20px;
		margin: 15px;
		background: #efefef;
		border-radius: 15px;
		border: 3px solid #ddd;
	}

	.tools-list {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		margin-bottom: 30px;
	}

	.tools-list__section {
		width: calc(50% - 30px);
		padding: 15px 20px;
		margin: 15px;
		background: #efefef;
		border-radius: 15px;
		border: 3px solid #ddd;
	}

	.tools-list__section ul,
	.styleguide-section ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
</style>


<div class="main-content">
	<div class="title-section">
		<div class="title-section__title-container">
			<h1 class="title-section__title">
			2022 DRUG TREND REPORT
			</h1>
		</div>
		<img class="title-section__image" src="assets\dist\images\hero_image.png"/>
	</div>

	<div class="info-section info-section--gap-large info-section--desktop-padding-top-200">
		<div class="info-section__divider info-section__divider--flex-grow-3-4">
			<h2 class="section-header section-header--margin-large">
				<span class="section-header__top">
					Our business
				</span>
				<br>
				<span class="section-header__bottom">
					is personal
				</span>
			</h2>
				
			<div class="text">
				<h3 class="text__header text__header--orange">
					Transforming Access To Pharmacy Benefits
				</h3>
				<p class="text__paragraph text__paragraph--blue">
					Medications play a vital role in people's lives. When taken as prescribed, they can be lifesaving and life changing. However, many Americans struggle with the cost of prescription drugs. At Navitus, this is personal to us.
				</p>
				<p class="text__paragraph text__paragraph--orange text__paragraph--bold">
					We exist to make medications more affordable for the people who need them.
				</p>
			</div>
		</div>
		<div class="info-section__divider">
			<div class="quote">
				<div class="quote__bubble">
					<img class="quote__svg" src="assets\dist\images\quote.svg"/>
				</div>
				<div class="quote__text">
					<p class="quote__paragraph">
						Our pass-through model ensures that plan sponsors and health plans are billed only for the net cost of medications and that they get 100% of all discounts and rebates we receive. We take pride in providing our clients with full visibility into their pharmacy-benefit costs, value-added savings opportunities and enabling them to offer additional benefits to members when they save. Most importantly, we do what we do for the right reasons: to help members afford the medicine they need so that they can live their lives more fully.
					</p>
					<p class="quote__paragraph">
						As we look toward the future, we remain dedicated to this mission and I invite you to explore the results that Navitus delivered in 2022.
					</p>

					<hr class="quote__divider">

					<div class="quote__attribution">
						<img class="quote__image" src="assets\dist\images\quote_image.png"/>
						<div class="quote__attribution-text">
							<p class="quote__name">Brent Eberle</p>
							<p class="quote__description">Chief Pharmacy Officer, Navitus Health Solutions</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="info-section info-section--desktop-wrap info-section--gap-small info-section--vertical-gap info-section--center-vertical info-section--dark info-section--desktop-padding-right-only">
		<img class="info-section__image info-section__image--width-standard info-section__image--border-curve-top-left-bottom-right" src="assets\dist\images\info_image_1.png" />
	
		<div class="info-section__divider info-section__divider--flex-basis-300 info-section__divider--center">
			<div class="data-point data-point--desktop-width-275">
				<div class="data-point__inner data-point__inner--dark">
					<h3 class="data-point__data">2.6%</h3>
					<p class="data-point__description">
						Average Net Total Cost¹ Trend for Commercial Clients from 2021 to 2022
					</p>
				</div>
			</div>
		</div>

		<div class="info-section__divider info-section__divider--padding-left-10 info-section__divider--flex-basis-300">
			<div class="text">
				<h3 class="text__header text__header--desktop-size-25 text__header--bold text__header--orange">
					49% OF NAVITUS COMMERCIAL CLIENTS SAW THEIR NET DRUG SPEND DECREASE COMPARED TO 2021
				</h3>
				<p class="text__paragraph text__paragraph--gray">
					This was primarily achieved through several actions including:
				</p>
				<ul class="text__list text__list--gray text__list--bold">
					<li class="text__list-item">
						Improved pharmacy network rates combined with increased rebates and manufacturer fees.
					</li>
					<li class="text__list-item">
						Appropriate formulary and utilization management
					</li>
				</ul>
				<p class="text__paragraph text__paragraph--small text__paragraph--gray">
					¹Net total cost paid by plans and members minus manufacturer rebates
				</p>
			</div>
		</div>
	</div>

	<div class="info-section info-section--desktop-wrap info-section--gap-medium info-section--vertical-gap info-section--center-vertical info-section--no-desktop-padding-right">

		<div class="info-section__divider info-section__divider--margin-auto info-section__divider--desktop-margin-bottom-20 info-section__divider--flex-grow-0 info-section__divider--flex-basis-300">
			<div class="info-section__divider info-section__divider--flex-basis-300 info-section__divider--center">
				<div class="data-point data-point--desktop-width-320">
					<div class="data-point__inner data-point__inner--light">
						<h3 class="data-point__data">$89.73</h3>
						<p class="data-point__description data-point__description--center">
							Net Total Cost
							Per Member
							Per Month (PMPM)
							for Commercial
							Clients in 2022
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="info-section__divider info-section__divider--padding-right-10 info-section__divider--desktop-margin-bottom-20 info-section__divider--center-horizontally info-section__divider--flex-basis-300">
			<div class="text">
				<p class="text__paragraph text__paragraph--gray">
					Specialty medications accounted for over 50% of total spend for Navitus’ commercial book of business, despite only representing about 1% of overall utilization.
				</p>
			</div>

			<div class="data-table">
				<h3 class="data-table__title">
					TOTAL NET COST PMPM
				</h3>
				<table class="data-table__table">
					<tr class="data-table__row data-table__row--first">
						<th class="data-table__header data-table__header--first-col data-table__header--top-left"></th>
						<th class="data-table__header">2021</th>
						<th class="data-table__header data-table__header--top-right">2022</th>
					</tr>
					<tr class="data-table__row">
						<th class="data-table__header data-table__header--first-col data-table__header--row">Specialty</th>
						<td class="data-table__data">$42.25</td>
						<td class="data-table__data">$44.90</td>
					</tr>
					<tr class="data-table__row">
						<th class="data-table__header data-table__header--first-col data-table__header--row">Non-Specialty</th>
						<td class="data-table__data">$45.22</td>
						<td class="data-table__data">$44.83</td>
					</tr>
					<tr class="data-table__row data-table__row--last">
						<th class="data-table__header data-table__header--first-col data-table__header--row data-table__header--bottom-left">Total</th>
						<td class="data-table__data">$87.47</td>
						<td class="data-table__data data-table__data--bottom-right">$89.73</td>
					</tr>
				</table>
			</div>
		</div>
		
		<img class="info-section__image info-section__image--margin-auto info-section__image--width-standard-desktop-shrink info-section__image--border-curve-top-left-bottom-right" src="assets\dist\images\info_image_2.png" />
		
	</div>

	<div class="info-section info-section--vertical-gap info-section--gap-medium info-section--center-vertical info-section--dark info-section--desktop-center-horizontal">
		<div class="info-section__divider info-section__divider--flex-grow-3-4">
			<h2 class="section-header section-header--margin-small">
				<span class="section-header__top">
					How Navitus
				</span>
				<br>
				<span class="section-header__bottom">
					does it
				</span>
			</h2>
				
			<div class="text">
				<h3 class="text__header text__header--orange">
					Transforming Access To Pharmacy Benefits
				</h3>
				<ul class="text__list text__list--gray text__list--bold">
					<li class="text__list-item">
						Only bills clients what Navitus pays pharmacies
					</li>
					<li class="text__list-item">
						Passes through 100% of network discounts and rebates received
					</li>
					<li class="text__list-item">
						Drives purchasing efficiencies to control costs
					</li>
					<li class="text__list-item">
						Prioritizes clinically appropriate care that supports outcomes
					</li>
					<li class="text__list-item">
						Recommends generic over brand drugs when appropriate
					</li>
				</ul>
				<p class="text__paragraph text__paragraph--gray">
					Additionally, <span class="text__span text__span--orange text__span--bold">plans that took advantage of a limited pharmacy network that included Costco’s 90-day option saved an additional 3-5%</span> on prescription filled at local pharmacies.
				</p>
			</div>
		</div>

		<div class="info-section__divider info-section__divider--flex-grow-0 ">
			<div class="big-text">
				<h2 class="big-text__header">
					Navitus offers a<br>
					cost-saving alternative<br>
					to traditional PBMs<br>
				</h2>
				<img class="big-text__image big-text__image--bottom-right" src="assets\dist\images\money.svg" />

			</div>
		</div>
	</div>

	{% include "partials/summaryform.html" %}

	<div class="info-section info-section--vertical-gap info-section--mobile-align-left info-section--center-vertical info-section--gap-medium">
		<img class="info-section__image info-section__image--svg-small" src="assets\dist\images\methodology.svg" />
		<div class="text">
			<h2 class="text__header text__header--main text__header--orange">
				Methodology
			</h2>
			<p class="text__paragraph text__paragraph--gray">
				The Navitus drug trend is calculated by comparing the net total cost PMPM for 2022 to that for 2021. Net cost PMPM represents full-year (Q1-Q4) data for total member copays and plan paid amounts minus manufacturer rebates and fees. This value is divided by the total number of members and by 12 months of the year.
			</p>
			
			<p class="text__paragraph text__paragraph--gray">
				Net total cost PMPM trend consists of two components: utilization and cost and includes both specialty and non-specialty drugs. Utilization trend measures the change in total days of therapy. Cost trend measures the change in net total drug cost per the above. This analysis included data for more than 500 clients, representing 2.2M members within Navitus’ commercial book of business, including plan sponsors and health plans. To be included, these organizations must have been clients of Navitus in both 2021 and 2022. Exclusions from this analysis include products administered at physicians’ offices, clinics and hospitals, COVID-19 vaccines and supplies and any additional savings from copay assistance programs.
			</p>
		</div>
	</div>

</div>

{% endblock %}