{% extends "../templates/layout.html" %}
{% block pagetitle %} Page Index {% endblock %}

{% block content %}
<style type="text/css">
	.styleguide-section {
		padding: 15px 20px;
		margin: 15px;
		background: #efefef;
		border-radius: 15px;
		border: 3px solid #ddd;
	}

	.tools-list {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		margin-bottom: 30px;
	}

	.tools-list__section {
		width: calc(50% - 30px);
		padding: 15px 20px;
		margin: 15px;
		background: #efefef;
		border-radius: 15px;
		border: 3px solid #ddd;
	}

	.tools-list__section ul,
	.styleguide-section ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
</style>


<div class="main-content">
	<div class="title-section">
		<div class="title-section__title-container">
			<h1 class="title-section__title">
			2022 DRUG TREND REPORT
			</h1>
		</div>
		<img class="title-section__image" src="assets\dist\images\hero_image.png"/>
	</div>

	<div class="info-section info-section--gap-large info-section--desktop-padding-top-200">
		<div class="info-section__divider info-section__divider--flex-grow-3-4">
			<h2 class="section-header section-header--margin-large">
				<span class="section-header__top">
					Our business
				</span>
				<br>
				<span class="section-header__bottom">
					is personal
				</span>
			</h2>

			<div class="text">
				<h3 class="text__header text__header--orange">
					Transforming Access To Pharmacy Benefits
				</h3>
				<p class="text__paragraph text__paragraph--blue">
					Medications play a vital role in people's lives. When taken as prescribed, they can be lifesaving and life changing. However, many Americans struggle with the cost of prescription drugs. At Navitus, this is personal to us.
				</p>
				<p class="text__paragraph text__paragraph--orange text__paragraph--bold">
					We exist to make medications more affordable for the people who need them.
				</p>
			</div>
		</div>
		<div class="info-section__divider">
			<div class="quote">
				<div class="quote__bubble">
					<img class="quote__svg" src="assets\dist\images\quote.svg"/>
				</div>
				<div class="quote__text">
					<p class="quote__paragraph">
						Our pass-through model ensures that plan sponsors and health plans are billed only for the net cost of medications and that they get 100% of all discounts and rebates we receive. We take pride in providing our clients with full visibility into their pharmacy-benefit costs, value-added savings opportunities and enabling them to offer additional benefits to members when they save. Most importantly, we do what we do for the right reasons: to help members afford the medicine they need so that they can live their lives more fully.
					</p>
					<p class="quote__paragraph">
						As we look toward the future, we remain dedicated to this mission and I invite you to explore the results that Navitus delivered in 2022.
					</p>

					<hr class="quote__divider">

					<div class="quote__attribution">
						<img class="quote__image" src="assets\dist\images\quote_image.png"/>
						<div class="quote__attribution-text">
							<p class="quote__name">Brent Eberle</p>
							<p class="quote__description">Chief Pharmacy Officer, Navitus Health Solutions</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="info-section info-section--desktop-wrap info-section--gap-small info-section--vertical-gap info-section--center-vertical info-section--dark info-section--desktop-padding-right-only">
		<img class="info-section__image info-section__image--width-standard info-section__image--border-curve-top-left-bottom-right" src="assets\dist\images\info_image_1.png" />
	
		<div class="info-section__divider info-section__divider--flex-basis-300 info-section__divider--center">
			<div class="data-point data-point--desktop-width-275">
				<div class="data-point__inner data-point__inner--dark">
					<h3 class="data-point__data">2.6%</h3>
					<p class="data-point__description">
						Average Net Total Cost¹ Trend for Commercial Clients from 2021 to 2022
					</p>
				</div>
			</div>
		</div>

		<div class="info-section__divider info-section__divider--padding-left-10 info-section__divider--flex-basis-300">
			<div class="text">
				<h3 class="text__header text__header--desktop-size-25 text__header--bold text__header--orange">
					49% OF NAVITUS COMMERCIAL CLIENTS SAW THEIR NET DRUG SPEND DECREASE COMPARED TO 2021
				</h3>
				<p class="text__paragraph text__paragraph--gray">
					This was primarily achieved through several actions including:
				</p>
				<ul class="text__list text__list--gray text__list--bold">
					<li class="text__list-item">
						Improved pharmacy network rates combined with increased rebates and manufacturer fees.
					</li>
					<li class="text__list-item">
						Appropriate formulary and utilization management
					</li>
				</ul>
				<p class="text__paragraph text__paragraph--small text__paragraph--gray">
					¹Net total cost paid by plans and members minus manufacturer rebates
				</p>
			</div>
		</div>
	</div>

	<div class="info-section info-section--no-desktop-padding-right">

		<div class="info-section__divider"></div>
		
			<img class="info-section__image info-section__image--width-standard info-section__image--border-curve-top-left-bottom-right" src="assets\dist\images\info_image_2.png" />
		
	</div>
</div>

{% endblock %}