<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />

    <title>{% block pagetitle %} {% endblock %}</title>

    
        <link href='//fonts.googleapis.com/css?family=Open Sans:400,100,300,700,500,800,900' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Figtree:400,100,300,700,500,800,900' rel='stylesheet' type='text/css'>
       

    <!-- Style sheet link -->
    <link href="assets/dist/css/critical.min.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="manifest" href="icons/manifest.json">
    <meta name="theme-color" content="#009a44" />
    <link rel="apple-touch-icon" href="icons/android-chrome-256x256.png">
    <link rel="icon" href="icons/android-chrome-256x256.png">
</head>

<body>

    <!-- TODO: Figure out format for where to include JS files -->
    <script>
        function toggleHeaderMenu() {
            let container = document.getElementsByClassName("site-header__link-container")[0];
            container.classList.toggle("site-header__link-container--mobile-closed");
        }
    </script>

    <header class="site-header" id="site-header" role="banner">
        <img class="site-header__logo" src="assets/dist/images/navitus.png"/>
        <img class="site-header__menu" src="assets/dist/images/menu.svg" onclick="toggleHeaderMenu()"/>
        <ul class="site-header__link-container site-header__link-container--mobile-closed">
            <li class="site-header__link">
                <a href="">2022 SNAPSHOT</a>
            </li>
            <li class="site-header__link">
                <a href="">SPECIALTY</a>
            </li>
            <li class="site-header__link">
                <a href="">NON-SPECIALTY</a>
            </li>
            <li class="site-header__link">
                <a href="">EPIPHANYRX</a>
            </li>
            <li class="site-header__link">
                <a href="">CLIENT OUTCOMES</a>
            </li>
            <li class="site-header__link">
                <a href="">LEARN MORE</a>
            </li>
        </ul>
    </header>

    <main class="site-main" id="site-main" role="main">
        {% block content %} {% endblock %}
    </main>

    <footer class="site-footer" id="site-footer" role="contentinfo">
        <div class="site-footer__logos-container">
            <img class="site-footer__logo" src="assets\dist\images\footer_image_1.svg"/>
            <img class="site-footer__logo" src="assets\dist\images\footer_image_2.svg"/>
            <img class="site-footer__logo" src="assets\dist\images\footer_image_3.svg"/>
        </div>
        <p class="site-footer__copyright">
            © 2023 Navitus All rights reserved
        </p>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="assets/dist/js/all.min.js"></script>
    <link href="assets/dist/css/main.min.css" rel="stylesheet" type="text/css" />
    {% block scripts %} {% endblock %}
</body>

</html>