{
  "env": {
    "es6": true,
    "browser": true,
    "jquery":true,
    "amd":true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": ["error", { allow: ["warn", "error"] }]
  }
}