/* ******************************************************
   Main Import File
   - Variables / Utilities / Globals
   - Components (Navigation/Tools/Modules)
   - Vendor Imports (Third party plugins)
   ****************************************************** */

/* ================================================================
   Variables / Utilities / Globals
   ================================================================ */

// Variables
@import "variables";

// SASS Functions and Modules
@import "utilities";

// Normalize
@import "globals/normalize";

// Base Styles
@import "globals/boilerplate";
@import "globals/grid";

// Global Element Styles
@import "globals/typography";
@import "globals/buttons";
@import "globals/tables";
//@import "globals/forms";

// Special
@import "globals/animations";

/* ================================================================
   Base Template and general layouts
   ================================================================ */

@import "skeleton/header";
@import "skeleton/main";
@import "skeleton/layouts";

/* ================================================================
   Component Imports - Comment/uncomment what you don't need/need.
   ================================================================ */

// Component Globals
@import "components/components";

// Navigation
@import "navigation/clickMenu";
//@import "components/navigation/clickMenu-mega";
//@import "components/navigation/clickMenu-theme";
@import "navigation/breadcrumbs";

// Modules
@import "components/hero";

/* ================================================================
   Vendor Imports
   ================================================================ */

@import "vendor/focusOverlay";
