/* ================================================================
   Button Styles
   ================================================================ */

.button {
	display:inline-block;
	padding:0.47em 1.2em;
	border:0;
	font-family:$font-primary; font-weight:$fontWeight-bold; color:$color-invert;
	text-decoration:none; text-transform:uppercase; text-align:center;
	background:$color-primary;
	transition:all 0.2s ease-out;

	&:hover, &:focus {
		text-decoration:none;
		background:#646464;
	}
}

.back {
	text-transform: capitalize;
}

.more {
	text-transform:capitalize;
}