{% extends "layout.html" %}

{% block pagetitle %} Blogs {% endblock %}

{% block content %}
{% include "../templates/partials/breadcrumbs.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section class="news-listing">
                <ul class="news-listing_list">
                    <li class="news-listing_item">
                        <h3 class="news-listing_title">
                            <a href="detail.html">News Title</a>
                        </h3>

                        <div class="news-listing_meta">
                            <span class="text-muted">
                                Jan 5, 2020 by John Smith
                            </span>
                            <a href="#">4 Comments</a>
                        </div>

                        <div class="news-listing_summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>

                        <a href="#" class="news-listing_more">Read More</a>
                    </li>
                    <li class="news-listing_item">
                        <h3 class="news-listing_title">
                            <a href="#">News Title</a>
                        </h3>

                        <div class="news-listing_meta">
                            <span class="text-muted">
                                Jan 5, 2020 by John Smith
                            </span>
                            <a href="#">4 Comments</a>
                        </div>

                        <div class="news-listing_summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>

                        <a href="#" class="news-listing_more">Read More</a>
                    </li>
                    <li class="news-listing_item">
                        <h3 class="news-listing_title">
                            <a href="#">News Title</a>
                        </h3>

                        <div class="news-listing_meta">
                            <span class="text-muted">
                                Jan 5, 2020 by John Smith
                            </span>
                            <a href="#">4 Comments</a>
                        </div>

                        <div class="news-listing_summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>

                        <a href="@navigateUrl" class="news-listing_more">Read More</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
{% endblock %}