/* ================================================================
     Site Footer
     ================================================================ */

.site-footer {
  padding: rem(30px) 0;
  background-color: $primary-blue;
  color: #FFFFFF;

  @include breakpoint(m) {
    padding: rem(100px) 0;
  }
}

.site-footer-top {
}

.site-footer-bottom {
}
