/* ================================================================
     Content Box
     ================================================================ */

.content-box {
  padding: 20px;
  background: $color-primary;

  &.alt {
    background: $color-secondary;
  }
}
