.info-section {

    @extend %section-padding;

    width: 100vw;
    min-width: 400px;

    background-color: $section-bg-light;

    // @include breakpoint(m) {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: start;
    // }


    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    @include breakpoint(m) {
        flex-direction: row;
        align-items: start;
    }

    &--desktop-align-items-stretch {
        @include breakpoint(m) {
            align-items: stretch;
        }
    }

    &--desktop-wrap {
        @include breakpoint(m) {
            flex-wrap: wrap;
        }
    }

    &--dark {
        background-color: $section-bg-dark;
    }

    &--center-vertical {
        @include breakpoint(m) {
            align-items: center;
        }
    }

    &--desktop-center-horizontal {
        @include breakpoint(m) {
            justify-content: center;
        }
    }

    &--vertical-gap {
        //Medium screens and lower
        @media (max-width: rem(767px)) {
            gap: rem(30px);
        }

    }

    // &--no-padding-left {

    // }
    &--gap-small {
        @include breakpoint(m) {
            gap: rem(20px);
        }
    }

    &--gap-medium {
        @include breakpoint(m-xl) {
            gap: 4%;
        }
        @include breakpoint(xl) {
            gap: 7%;
        }
    }

    &--gap-large {
        @include breakpoint(m-xl) {
            gap: 8%;
        }
        @include breakpoint(xl) {
            gap: 14%;
        }
    }

    &--desktop-gap-68 {
        @include breakpoint(m) {
            gap: rem(68px);
        }
    }

    &--desktop-padding-top-200 {
        @include breakpoint(m) {
            padding-top: rem(200px);
        }
    }

    &--desktop-padding-right-only {
        @include breakpoint(m) {
            padding-left: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &--desktop-padding-bottom-only {
        @include breakpoint(m) {
            padding-left: 0;
            padding-top: 0;
            padding-right: 0;
        }
    }

    &--no-desktop-padding-right {
        @include breakpoint(m) {
            padding-right: 0;
        }
    }

    &__divider {

        // background-color: pink;

        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: rem(0px);
        // flex-basis: 0;
        
        // background-color: pink;

        // Center content in divider
        &--center {
            display: flex;
            // flex-direction: column;
            justify-content: center;
        }

        &--center-horizontally {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &--flex-grow-0 {
            // background-color: red;
            flex-grow: 0;
        }

        &--flex-grow-3-4 {
            flex-grow: .75;
        }

        &--flex-basis-300 {
            @include breakpoint(m){
                flex-basis: rem(300px);
            }
        }

        &--desktop-margin-bottom-20 {
            @include breakpoint(m) {
                margin-bottom: rem(20px);
            }
        }

        &--padding-left-10 {
            @include breakpoint(m){
                padding-left:rem(10px);
            }
        }

        &--padding-right-10 {
            @include breakpoint(m){
                padding-right:rem(10px);
            }
        }        

    }

    &__image {
        // &--desktop-display-block {
        //     @include breakpoint(m) {
        //         display:block;
        //     }
        // }

        // width: auto;

        &--width-standard {

            @include breakpoint(m-xl) {
                width: rem(400px);
            }

            @include breakpoint(xl) {
                width: rem(693px);
            }
        }

        &--width-large {

            @include breakpoint(m-xl) {
                width: rem(600px);
            }

            @include breakpoint(xl) {
                width: rem(822px);
            }
        }

        &--width-standard-desktop-shrink {

            @include breakpoint(m) {
                width: rem(693px);
            }
        }

        &--border-curve-top-left-bottom-right {

            border-radius: rem(50px) 0;

            @include breakpoint(m) {
                border-radius: rem(100px) 0;
            }
        }

        &--border-curve-left {

            border-radius: rem(50px) 0 0 rem(50px);

            @include breakpoint(m) {
                border-radius: rem(100px) 0 0 rem(100px);
            }
        }

        &--margin-auto {
            margin: 0 auto;
        }
    }
}