<div class="info-section info-section--desktop-wrap info-section--desktop-center-horizontal info-section--desktop-align-items-stretch info-section--vertical-gap info-section--desktop-gap-68 info-section--dark info-section--desktop-padding-bottom-only">
    <div class="summary-form">
        <h2 class="summary-form__header">
            GET THE 2022 DRUG TREND EXECUTIVE SUMMARY
        </h2>
        <p class="summary-form__description">
            Fill out the form below to download your free copy
        </p>
        <form class="summary-form__form">
            <div class="summary-form__item-container">
                <div class="summary-form__item">
                    <label for="fname" class="summary-form__label">FIRST NAME*</label>
                    <input placeholder="Your First Name" type="text" name="fname" class="summary-form__input"></input>
                </div>
                <div class="summary-form__item">
                    <label for="lname" class="summary-form__label">LAST NAME*</label>
                    <input placeholder="Your Last Name" type="text" name="lname" class="summary-form__input"></input>
                </div>
                <div class="summary-form__item">
                    <label for="email" class="summary-form__label">EMAIL*</label>
                    <input placeholder="Your Email" type="text" name="email" class="summary-form__input"></input>
                </div>
                <div class="summary-form__item">
                    <label for="company" class="summary-form__label">COMPANY NAME*</label>
                    <input placeholder="Your Company" type="text" name="company" class="summary-form__input"></input>
                </div>
            </div>
            <button type="submit" class="summary-form__submit">
                DOWNLOAD THE REPORT
                <img class="summary-form__download-svg" src="assets\dist\images\ARROW-DOWN-TO-LINE.svg" />
            </button>
        </form>
    </div>
    <img class="info-section__image  info-section__image--border-curve-left" src="assets\dist\images\form_image.png"/>
</div>